<h1 id="tableLabel">Address Book</h1>

<p>Show Contacts:</p>


<div class="row">
  <div class="col-md-2">
    <input type="text" class="form-control" placeholder="Search by first name" [(ngModel)]="searchByFirstName" />
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control" placeholder="Search by last name" [(ngModel)]="searchByLastName" />
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control" placeholder="Search by address" [(ngModel)]="searchByAddress" />
  </div>
  <div class="col-md-2">
    <input type="text" class="form-control" placeholder="Search by telephone number" [(ngModel)]="searchByTelephoneNumber" />
  </div>
  <div class="col-md-1">
    <button type="submit" (click)="searchContact()" class="btn btn-primary">Search</button>
  </div>
  <div class="col-md-1">
    <button type="submit" (click)="cleadModelForAddNewContact(0)" class="btn btn-primary">Add</button>
  </div>
</div>

<p>

</p>


<table class='table table-striped table-bordered' aria-labelledby="tableLabel" *ngIf="contacts">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>Phone Numbers</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <td>{{ contact.id }}</td>
      <td>{{ contact.firstName }}</td>
      <td>{{ contact.lastName }}</td>
      <td>{{ contact.address }}</td>
      <td>{{ contact.telephoneNumber }}
      <td style="text-align: center">
        <button style="align-content:start" type="submit" (click)="loadContactToEdit(contact.id)" class="btn btn-warning">Update</button>
      </td>
      <td style="text-align: center">
        <button onclick="return confirm('Are you sure you want to delete')" type="submit" style="align-content:end" (click)="deleteThisContact(contact.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div style="text-align: center" class="col-sm-6">
    <button type="submit" (click)="paginationBack()" class="btn btn-danger  pull-right">Back</button>
  </div>

  <div style="text-align: center" class="col-sm-6">
    <button type="submit" (click)="paginationNext()" class="btn btn-danger pull-left ">Next</button>
  </div>
</div>


